<html>

<head>
    <title>Sample App - Home</title>
</head>

<body>
    <h1>Calendar working</h1>
    <form method="post" action="/">
        {{form.csrf_token}}
        <div>
            {{form.name.label}}
            {{form.name(size=32)}}

            {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            {{form.start_date.label}}
            {{form.start_date(size=32)}}
        </div>
        <div>
            {{form.start_time.label}}
            {{form.start_time(size=32)}}
        </div>
        <div>
            {{form.end_date.label}}
            {{form.end_date(size=32)}}

            {% if form.end_date.errors %}
            <ul class="errors">
                {% for error in form.end_date.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div>
            {{form.end_time.label}}
            {{form.end_time(size=32)}}
        </div>
        <div>
            {{form.description.label}}
            {{form.description(size=32)}}
        </div>
        <div>
            {{form.private.label}}
            {{form.private(size=32)}}
        </div>
        <div>
            {{form.submit(size=32)}}
        </div>
        <!-- to make your form           -->
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody>
            {% for item in rows %}
            <tr>
                <td>
                    {{item.name}}
                </td>
                <td>
                    {{item.start}}
                </td>
                <td>
                    {{item.end}}
                </td>
            </tr>

            {% endfor %}

            <!-- loop here to create rows -->
        </tbody>
    </table>
</body>

</html>
